<template>
  <div class="animated fadeIn">
    <b-row>
      <b-col sm="6" lg="3">
        <b-card no-body class="bg-danger">
          <b-card-body class="pb-0;">
              <i class="fa fa-users" style="float:right;font-size:70px"></i>
            <h1 class="mb-0">105</h1>
            <p style="font-size:15px">Total Students</p>
            <hr>
            <b-link :to="{ path: '/view/students' }"  >View Details</b-link>
          </b-card-body>
        </b-card>
      </b-col>
      <b-col sm="6" lg="3">
        <b-card no-body class="bg-success">
          <b-card-body class="pb-0;">
              <i class="fa fa-user" style="float:right;font-size:70px"></i>
            <h1 class="mb-0">105</h1>
            <p style="font-size:15px">Total Faculties</p>
            <hr>
            <b-link :to="{ path: '/view/students' }"  >View Details</b-link>
          </b-card-body>
        </b-card>
      </b-col>
      <b-col sm="6" lg="3">
        <b-card no-body class="bg-warning">
          <b-card-body class="pb-0;">
              <i class="fa fa-child" style="float:right;font-size:70px"></i>
            <h1 class="mb-0">105</h1>
            <p style="font-size:15px">Total Staffs</p>
            <hr>
            <b-link :to="{ path: '/view/students' }"  >View Details</b-link>
          </b-card-body>
        </b-card>
      </b-col>
      <b-col sm="6" lg="3">
        <b-card no-body class="bg-primary">
          <b-card-body class="pb-0;">
              <i class="fa fa-book" style="float:right;font-size:70px"></i>
            <h1 class="mb-0">105</h1>
            <p style="font-size:15px">Total Subjects</p>
            <hr>
            <b-link :to="{ path: '/view/students' }"  >View Details</b-link>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>  
  </div>
</template>

<script>
import { Callout } from '@coreui/vue'

export default {
  name: 'dashboard',
  components: {
    Callout
  }
}
</script>

<style>
  /* IE fix */
  #card-chart-01, #card-chart-02 {
    width: 100% !important;
  }
</style>
