<template>
    <b-card>
      <b-row>
        <b-col md="6">
        <b-card>
          <div slot="header">
            <h3><strong>Add Batch</strong></h3>
          </div>
          <b-form>
          <b-form-group
            label="Batch Title"
            label-for="batch_title"
            :label-cols="3"
            :horizontal="true">
            <b-form-input id="batch_title" type="text" placeholder="Enter batch title"></b-form-input>
          </b-form-group>
          <div slot="footer">
            <b-button type="submit" size="sm" variant="primary"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
            <b-button type="reset" size="sm" variant="danger"><i class="fa fa-ban"></i> Reset</b-button>
          </div>
          </b-form>
        </b-card>
      </b-col>
      </b-row> 
    </b-card>
</template>

<script>
export default {
  name: 'staff',
  data () {
    return {
      selected: [], // Must be an array reference!
      show: true
    }
  },
  methods: {
    click () {
      // do nothing
    }
  }
}
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
