<template>
    <b-card>
      <b-row>
        <b-col md="6">
        <b-card>
          <div slot="header">
            <h3><strong>Add Student</strong></h3>
          </div>
          <b-form>
          <b-form-group
            label="ID"
            label-for="student_id"
            :label-cols="3"
            :horizontal="true">
            <b-form-input id="student_id" type="text" placeholder="Enter student's id"></b-form-input>
          </b-form-group>
          <b-form-group
            label="Name"
            label-for="student_name"
            :label-cols="3"
            :horizontal="true">
            <b-form-input id="student_name" type="text" placeholder="Enter student's name"></b-form-input>
          </b-form-group>
          <b-form-group
            label="Batch"
            label-for="student_batch"
            :label-cols="3"
            :horizontal="true">
            <b-form-input id="student_batch" type="text" placeholder="Enter student's batch"></b-form-input>
          </b-form-group>
          <b-form-group
            label="Email"
            label-for="student_email"
            :label-cols="3"
            :horizontal="true">
            <b-form-input id="student_email" type="text" placeholder="Enter email address"></b-form-input>
          </b-form-group>
          <b-form-group
            label="Mobile"
            label-for="student_mobile"
            :label-cols="3"
            :horizontal="true">
            <b-form-input id="student_mobile" type="text" placeholder="Enter mobile number"></b-form-input>
          </b-form-group>
          <div slot="footer">
            <b-button type="submit" size="sm" variant="primary"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
            <b-button type="reset" size="sm" variant="danger"><i class="fa fa-ban"></i> Reset</b-button>
          </div>
          </b-form>
        </b-card>
      </b-col>
      </b-row> 
    </b-card>
</template>

<script>
export default {
  name: 'student',
  data () {
    return {
      selected: [], // Must be an array reference!
      show: true
    }
  },
  methods: {
    click () {
      // do nothing
    }
  }
}
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
