<template>
  <b-container fluid>
    <!-- User Interface controls -->
    <b-row>
      <b-col md="6" class="my-1">
        <b-form-group horizontal label="Search" class="mb-0">
          <b-input-group>
            <b-form-input v-model="filter" placeholder="Type to Search" />
            <b-input-group-append>
              <b-btn :disabled="!filter" @click="filter = ''">Clear</b-btn>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>
      <b-col md="6" class="my-1">
        <b-form-group horizontal label="Per page" class="mb-0">
          <b-form-select :options="pageOptions" v-model="perPage" />
        </b-form-group>
      </b-col>
    </b-row>
    <br>

    <!-- Main table element -->
    <b-table show-empty
             stacked="md"
             :headers="headers"
             :items="items"
             :fields="fields"
             :current-page="currentPage"
             :per-page="perPage"
             :filter="filter"
             :sort-by.sync="sortBy"
             :sort-desc.sync="sortDesc"
             :sort-direction="sortDirection"
             @filtered="onFiltered"
    >
      <template slot="name" slot-scope="row">{{row.value.faculty_name}}</template>
      <template slot="position" slot-scope="row">{{row.value.faculty_position}}</template>
      <template slot="email" slot-scope="row">{{row.value.faculty_email}}</template>
      <template slot="mobile" slot-scope="row">{{row.value.faculty_mobile}}</template>
      <template slot="actions" slot-scope="row">
        <!-- We use @click.stop here to prevent a 'row-clicked' event from also happening -->
        <b-button size="sm" @click.stop="editItem(row.value)" class="mr-1">
          Edit
        </b-button>
        <b-button size="sm" @click.stop="deleteItem(row.value)">
          Delete
        </b-button>
      </template>
    </b-table>

    <b-row>
      <b-col md="6" class="my-1">
        <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
      </b-col>
    </b-row>

    <!-- Info modal -->
    <b-modal id="dialog">
      <b-card>
      <b-row>
        <b-col md="6">
        <b-card>
          <div slot="header">
            <h3><strong>Add Faculty</strong></h3>
          </div>
          <b-form>
          <b-form-group
            label="Name"
            label-for="faculty_name"
            :label-cols="3"
            :horizontal="true">
            <b-form-input id="faculty_name" type="text" placeholder="Enter faculty's name"></b-form-input>
          </b-form-group>
          <b-form-group
            label="Position"
            label-for="faculty_position"
            :label-cols="3"
            :horizontal="true">
            <b-form-input id="faculty_position" type="text" placeholder="Enter faculty's position"></b-form-input>
          </b-form-group>
          <b-form-group
            label="Email"
            label-for="faculty_email"
            :label-cols="3"
            :horizontal="true">
            <b-form-input id="faculty_email" type="text" placeholder="Enter email address"></b-form-input>
          </b-form-group>
          <b-form-group
            label="Mobile"
            label-for="faculty_mobile"
            :label-cols="3"
            :horizontal="true">
            <b-form-input id="faculty_mobile" type="text" placeholder="Enter mobile number"></b-form-input>
          </b-form-group>
          <div slot="footer">
            <b-button type="submit" size="sm" variant="primary"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
            <b-button type="reset" size="sm" variant="danger"><i class="fa fa-ban"></i> Reset</b-button>
          </div>
          </b-form>
        </b-card>
      </b-col>
      </b-row> 
    </b-card>
    </b-modal>

  </b-container>
</template>

<script>
export default {
  data () {
    return {
      dialog: false,
      items: items,
      fields: [
        { key: 'name', label: 'Name', sortable: true, sortDirection: 'desc' },
        { key: 'position', label: 'Position', sortable: true, 'class': 'text-center' },
        { key: 'email', label: 'Email Address', sortable: true, 'class': 'text-center' },
        { key: 'mobile', label: 'Mobile Number', sortable: true, 'class': 'text-center' },
        { key: 'actions', label: 'Actions', 'class': 'text-center'  }
      ],
      currentPage: 1,
      items: [],
      editedIndex: -1,
      editedItem: {
        name: '',
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0
      },
      defaultItem: {
        name: '',
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0
      },
      perPage: 5,
      totalRows: items.length,
      pageOptions: [ 5, 10, 15 ],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      modalInfo: { title: '', content: '' }
    }
  },
  
  computed: {
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => { return { text: f.label, value: f.key } })
    },
    formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      }
  },

    watch: {
      dialog (val) {
        val || this.close()
      }
    },
        created () {
      this.initialize()
    },
  methods: {
    info (item, index, button) {
      this.modalInfo.title = `Update Faculty`
      this.modalInfo.content = JSON.stringify(item, null, 2)
      this.$root.$emit('bv::show::modal', 'modalInfo', button)
    },
    resetModal () {
      this.modalInfo.title = ''
      this.modalInfo.content = ''
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    initialize () {
        this.items = [
          {
            faculty_name: 'Juan Dela Cruz',
            faculty_position: 159,
            faculty_email: 6.0,
            faculty_mobile: 24
          }
        ]
      },

      editItem (item) {
        this.editedIndex = this.desserts.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        const index = this.desserts.indexOf(item)
        confirm('Are you sure you want to delete this item?') && this.desserts.splice(index, 1)
      },

      close () {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.desserts[this.editedIndex], this.editedItem)
        } else {
          this.desserts.push(this.editedItem)
        }
        this.close()
      }
  }
}
</script>

<!-- table-complete-1.vue -->